*{
    margin: 0;
    padding: 0;
}
#logo{
    margin-top: 0.5rem;;
height: 2rem;
margin-left: 3rem;
}
.navbar{
    min-width: 100%;
    position: sticky;
    top:0%;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 3rem;
    font-size: small;

}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
}
.left{
    /* margin: auto 0; */
    margin-left: 2rem;
    /* margin-right: 5rem; */
}
.left a{
    text-decoration: none;
    cursor: pointer;
    display: inline;
}
.right{
    margin-left: 35vh;
    display: flex;
    align-items: center;
    justify-items: center;   
}
.right li{
    padding: 0 1rem;
}

.dropdown-items{

    display: none;

}
.right img,button{
    cursor: pointer;
}
.right button{
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    width: 196px;
    height: 30px;
}
.right button img{
    padding: auto;
    height: 15px;
}
.left:hover ul.dropdown-items{
    display: block;
    
    box-shadow: rgba(8, 8, 182, 0.2) 0px 7px 29px 0px;
}
.resp-navbar{
    display: none;
}
#cart{
    width: 16px;
}


#img1{
    position:absolute;
    width: 50%;
    z-index: -1;
    opacity: 90%;
}

.text input{
    width: 50vh;
    height: 2rem;
    border: 2px solid white;
    border-radius: 3px;
    padding-left: 2rem;
}
.section1{
    display: flex;
    
}
.part1{
    width: 50%;
}
.part2{
    width: 50%;
}
.part2 p{
    margin: 1rem 0;
}
.catalogue div{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.catalogue div a{
    display:flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: auto;
   
}
.catalogue div a img{
    width: 2rem;
    padding: 1rem;
}
.sm-banner{
    display: inline-flex;
    /* justify-content: space-around; */
    margin-top: 2rem;
}

.sm-banner img{
    margin: 3rem 0 0 1rem;
    width: 30%

}
#aadha{
    overflow:auto;
}
    


